<!DOCTYPE html>
<html lang="fr">

<% include head %>

<link rel="stylesheet" href="/css/login.css">

<body>
<div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Tabs Titles -->

    <!-- Icon -->
    <div class="fadeIn first">
      <!--<img src="http://danielzawadzki.com/codepen/01/icon.svg" id="icon" alt="User Icon" />-->
              	<div class="sidebar-header">
              	<br>
                <h1 style="font-family: 'Fredoka One', sans-serif;">Jungle Box</h1>
                <br>
            </div>
    </div>

    <!-- Login Form -->
    <form action="/login" method="post">
      <input type="text" id="login" class="fadeIn second" name="login" placeholder="email">
      <input type="password" id="password" class="fadeIn third" name="mdp" placeholder="mot de passe">
      <br>
      <input type="submit" class="fadeIn fourth" value="Connexion">
    </form>



  </div>
</div>


    

    
	<% include bsjs %>

    <script type="text/javascript">

		
        $(document).ready(function () {

	

            
        });
         
    </script>
</body>

</html>