        <!-- Sidebar  -->
    <script>
        var idclient="<%=idclient%>";
    	var page="<%=page%>";
    </script>	
        <nav id="sidebar">
        
        	<!-- nom du client -->
        	<div class="sidebar-header">
                <li><a href="/"><img src="/images/logo-hps.jpg" style="width:100%;"></a></li>
            </div>


			<!-- /nom du client -->
			
            <ul class="list-unstyled components">
                <li id="accueil">
                    <a href="/">
                        <i class="fas fa-home"></i>
                        &nbsp;Accueil
                    </a>
                </li>
				<hr>
                <li id="planning">
                    <a href="/planning/0/0/0/0">
                        <i class="fas fa-calendar-alt"></i>
                        &nbsp;Planning
                    </a>
                </li>
                
                <!--<li id="clients">
                    <a href="/clients">
                        <i class="fas fa-handshake"></i>
                        &nbsp;Clients
                    </a>
                </li>-->
                <li id="rdv">
                    <a href="/rdv">
                        <i class="fas fa-handshake"></i>
                        &nbsp;Prospects
                    </a>
                </li>
               <!-- <li id="formbuilder">  
                    <a href="/formbuilder">
                        <i class="fas fa-shopping-cart"></i>
                        &nbsp;Formbuilder
                    </a>
                </li>  -->
                <li id="rapports">
                    <a href="/rapports/0">
                        <i class="fas fa-shopping-cart"></i>
                        &nbsp;Rapports
                    </a>
                </li>


                <!--<li id="raptele">
                    <a href="/raptele/0">
                        <i class="fas fa-shopping-cart"></i>
                        &nbsp;Rdv télépros
                    </a>
                </li>-->

                
                 <% if(user.type == 0) { %>
                <hr>
                <li id="produits">
                    <a href="/produits">
                        <i class="fas fa-shopping-bag"></i>
                        &nbsp;Produits
                    </a>
                </li>
                <hr>
                <li id="newhpsusers0">
                    <a href="/newhpsusers/0">
                        <i class="fas fa-users"></i>
                        &nbsp;Administrateurs
                    </a>
                </li>
                <li id="newhpsusers4">
                    <a href="/newhpsusers/4">
                        <i class="fas fa-users"></i>
                        &nbsp;Chefs de secteur
                    </a>
                </li>
                <li id="newhpsusers1">
                    <a href="/newhpsusers/1">
                        <i class="fas fa-users"></i>
                        &nbsp;Chefs de vente
                    </a>
                </li>
                <li id="newhpsusers2">
                    <a href="/newhpsusers/2">
                        <i class="fas fa-users"></i>
                        &nbsp;Commerciaux
                    </a>
                </li>
                <li id="newhpsusers3">
                    <a href="/newhpsusers/3">
                        <i class="fas fa-users"></i>
                        &nbsp;Correspondants
                    </a>
                </li>
                

                
                <hr>
                    <li id="params">
                        <a href="/params">
                            <i class="fas fa-cog"></i>
                            &nbsp;Parametres
                        </a>
                    </li>
           
                 <% } %>
                
                <hr>
                <li>
                 <a href="/logout">
                        <i class="fas fa-paper-plane"></i>
                        &nbsp;Deconnexion
                    </a>
                
                </li>

            </ul>




        </nav>
