<!DOCTYPE html>
<html lang="fr">

<% include head %>

<body>

<div class="wrapper">
	
	<% include navbar %>

    <!-- Page Content  -->
    <div id="content">
    
    <div class="row">
   	 <!-- <div class="col-1">
	  	<button type="button" class="btn btn-primary newbt" data-toggle="modal" data-target="#exampleModalCenter" style="margin-top: 5px;">
			 Ajouter
		 </button>
	  </div>-->
      <div class="col-12">
      <nav aria-label="breadcrumb">
		<ol class="breadcrumb">
			<li class="breadcrumb-item"><a href="#">Accueil</a></li>
			<li class="breadcrumb-item active" aria-current="page">Produits</li>
		</ol>
	  </nav>
	  </div>
	</div>
	<div class="row">
   	  <div class="col-3" id="tblf">
   	  	<h2>Familles</h2>
   	  	<table data-toggle="table"
	 	class="table table-condensed table-sm"
        data-url="/list/familles/<%=idclient%>"
        data-pagination="false" 
        data-search="true"
        data-show-columns="false"
        data-page-size="100"
        id= "mtablef"
        data-page-list="[100, 200, 500, 1000]">
        
		<thead>
			<tr>
             
	            <th data-field="_id"    class="d-none" data-formatter="genericFm">_id</th>
	            <th data-field="nom"    data-valign="middle" data-formatter="genericFm">Nom</th>
	            <th data-width="50px" data-field="_id"    data-valign="middle" data-formatter="delFm2">Action</th>
			</tr>
		</thead>

</table>
   	  </div>
   	  <div class="col-9" id="tblp">
   	  <h2>Produits</h2>
   	  	<table data-toggle="table"
	 	class="table table-condensed table-sm"
        data-url="/list/produits/<%=idclient%>"
        data-pagination="true" 
        data-search="true"
			   data-flat="true"
        data-show-columns="false"
        data-page-size="100"
        id= "mtablep"
        data-page-list="[100, 200, 500, 1000]">
        
		<thead>
			<tr>
              
		        <th data-field="_id"   class="d-none"   data-formatter="genericFm">_id</th>
				<th data-field="idfamille"  class="d-none"  data-valign="middle" data-formatter="genericFm">Famille</th>
		        <th data-field="nomfamille"    data-valign="middle" data-formatter="genericFm">Famille</th>
		        <th data-field="ref"    data-valign="middle" data-formatter="genericFm">Ref.</th>
		        <th data-field="nom" data-valign="middle" data-formatter="genericFm">Designation</th>
		        <th data-field="prix" 	data-valign="middle" data-formatter="genericFm">Prix</th>
		        <th data-width="100px" data-field="_id"    data-valign="middle" data-formatter="delFm">Action</th>
			</tr>
		</thead>

</table>
   	  </div>
   	</div>  


	</div>
	<!-- /Page Content  -->
	
	
</div>
<!-- /wrapper  -->

<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
<div class="modal-dialog modal-dialog-centered" role="document">
<div class="modal-content">

  <form action="/addobj/produits" method="POST" id="myformp"> 
  
  <div class="modal-header">
    <h5 class="modal-title" id="exampleModalCenterTitle">Produit</h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  
  <div class="modal-body">
  	 <input type="text" class="d-none" name="_id" id="_id">
  	 
  	  <input type="text" class="d-none" name="idfamille" id="idfamille" value="">
  	 
  	  
  	  <div class="form-group">
	 	<label for="ref">Famille:</label>
	 	<input type="text" class="form-control" readonly name="nomfamille" id="nomfamille" value="" required>
	 </div>
  	  
  	  
  	 <div class="form-group">
	 	<label for="ref">Référence:</label>
	 	<input type="text" class="form-control" placeholder="Entrer la référence" name="ref" id="ref" required>
	 </div>
  	 
     <div class="form-group">
	 	<label for="nom">Désignation:</label>
	 	<input type="text" class="form-control" placeholder="Entrer la désignation" name="nom" id="nom" required>
	 </div>
	 
	 <div class="form-group">
	 	<label for="prix">Prix:</label>
	 	<input type="number" step="any" class="form-control" placeholder="Entrer le prix" name="prix" id="prix" required>
	 </div>
	 



  </div>
  
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
      <button type="submit" class="btn btn-primary" >Envoyer</button>
  </div>
  </form>
  
</div>
</div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModalCenter2" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
<div class="modal-dialog modal-dialog-centered" role="document">
<div class="modal-content">

  <form action="/addobj/produits" method="POST" id="myformf"> 
  
  <div class="modal-header">
    <h5 class="modal-title" id="exampleModalCenterTitle">Famille</h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  
  <div class="modal-body">
 
  	 

  	 
     <div class="form-group">
	 	<label for="nom">Nom:</label>
	 	<input type="text" class="form-control" placeholder="Entrer le nom" name="nom" required>
	 </div>
	 
  </div>
  
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
      <button type="submit" class="btn btn-primary" >Envoyer</button>
  </div>
  </form>
  
</div>
</div>
</div>


<% include bsjs %>

<script type="text/javascript">

		var idFamSel="";
		var nomFamSel="";
		
    function genericFm(value, row, index,field) {

        return '<a snd-data-'+row['_id']+'="'+field+'">'+value+'</a>';
       
    }


    function delFm(value, row) {
    	//return '<a href="#" id="mdp" data-type="text" data-url="/utilisateurs/del" data-pk="'+row['_id']+'" data-name="_id">Supprimer</a>';
    	return '<button type="button" class="btn btn-danger" onclick="'+"confirmdel('"+row['_id']+"');"+'"><i class="fas fa-trash-alt"></i></button>&nbsp;'+
           	   '<button type="button" data-toggle="modal" data-target="#exampleModalCenter" class="btn btn-info editbt" onclick="editobjP('+"'"+row['_id']+"'"+')"><i class="fas fa-pencil-alt"></i></button>';
	}

    function delFm2(value, row) {
    	//return '<a href="#" id="mdp" data-type="text" data-url="/utilisateurs/del" data-pk="'+row['_id']+'" data-name="_id">Supprimer</a>';
    	return '<button type="button" class="btn btn-danger" onclick="'+"confirmdel('"+row['_id']+"');"+'"><i class="fas fa-trash-alt"></i></button>&nbsp;'
    	}

function initf1(){
	$('#myformf')[0].reset();
}

function initf2(){
	$('#myformp')[0].reset();
	//$('.idfamille input').val(idFamSel);
	//$('#nomfamille input').val(nomFamSel);
	document.getElementById("idfamille").setAttribute('value', idFamSel);
	document.getElementById("nomfamille").setAttribute('value', nomFamSel);
}

        function editobjP(mid){
			    $('#myformp')[0].reset();
				//$('input[name=_id]').val(mid);
				$('[snd-data-'+mid.toString()+']').each(function(i, el) // Temporary for demo purpose only
					{
					var $this   = $(el);
					var label   = $this.attr("snd-data-"+mid);
					var valeur  = $this.html();
					$('input[name='+label+']').val(valeur);
					});
			
		}
		

	
    $(document).ready(function () {
	    

        $('#produits').addClass("active");
        $( "#tblp .bootstrap-table .fixed-table-toolbar" ).prepend('<div class="float-left btn-group"><button type="button" onclick="initf2();" class="btn btn-primary newbt" data-toggle="modal" data-target="#exampleModalCenter" style="margin-top: 8px;">Ajouter</button></div>'); 
        
        
        $( "#tblf .bootstrap-table .fixed-table-toolbar" )
        .prepend('<div class="float-left btn-group"><button type="button" class="btn btn-primary newbt" onclick="initf1();" data-toggle="modal" data-target="#exampleModalCenter2" style="margin-top: 8px;">Ajouter</button></div>'); 
        
             $("#myformf").on('submit', function(e){
			 e.preventDefault();
				$.ajax({
					url:'/addobj/familles/'+idclient,
					type:'post',
					data:$('#myformf').serialize(),
					success:function(res){
						//$('#exampleModalCenter').modal('hide');
						window.location.href = '/'+page;
						
        			}
    			});
    			return false;
	
            });	
        
             $("#myformp").on('submit', function(e){
			 e.preventDefault();
				$.ajax({
					url:'/addobj/produits/'+idclient,
					type:'post',
					data:$('#myformp').serialize(),
					success:function(res){
						//$('#exampleModalCenter').modal('hide');
						window.location.href = '/'+page;
						
        			}
    			});
    			return false;
	
            });	
            
      
            $("#mtablef").on("click-cell.bs.table", function (field, value, row, $el) {
				
				
				idFamSel=$el._id;
				nomFamSel=$el.nom;
				

			
				
				$.ajax({
					url:'/getprod/'+idFamSel,
					type:'get',
					success:function(res){
						$("#mtablep").bootstrapTable('load', res)
						
        			}
    			});
				
				
				
				
 			});
            
            

        
    });
     
</script>
</body>

</html>